@model WiredBrain.CustomerPortal.Web.Models.EditFavoriteModel

<div class="row mt-md-5">
    <h3>Edit your favorite drink so you can just order "the usual" at the counter.</h3>
</div>
<div class="row">
    @using (Html.BeginForm("EditFavorite", "Home", FormMethod.Post, new { style = "width:100%" }))
    {
        @Html.HiddenFor(m => m.LoyaltyNumber)
        <div class="form-group">
            @Html.TextBoxFor(m => m.Favorite, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary" onclick="alert('You are about to submit the favorite for loyaltynumber @HttpUtility.JavaScriptStringEncode(Request.QueryString["loyaltyNumber"])');">Submit</button>
    }
</div>